.u-textTruncate {
  max-width: 100%;
  /* test */
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
  word-wrap: normal !important;
}

.keep {
  display: none;
}
